body {
  margin: 0;
  background-color: #d7323c;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

#parentContainer {
  display: grid;
  width: auto;
  grid-template-columns: auto auto auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  grid-gap: 10px;
  padding-top: 100px;
  div {
    background-color: #6a8dcc;
    width: 200px;
    padding: 16px;
    text-align: center;
    border: 10px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
